.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .breadcrumb__link {
    text-decoration: none;
    color: #4682B4;
    margin: 0 5px;
    font-weight: bold;
  }

  .breadcrumb__link i {
    color: white;
  }
  
  .breadcrumb__link:hover {
    text-decoration: underline;
    text-decoration: none;
    color: white;
  }
  
  .breadcrumb__separator {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb__arrow {
    margin: 0 5px;
    color: #ffffff;
    font-weight: bold;
  }
  