:root{
    /* Para los bakcground de los elementos */
    --background-fond-primario: rgba(7, 75, 247, 0.4); /* Para los colores transparentes */  
    --background-color-primario:#0C5ADB;/* Para los principales */ 
    --background-color-secundario:#00247E;/* Para los hover */
    --background-color-claro:#007BFF; 
  
    /* Para los boxs shadoms */
    --box-shadow-principal:0 4px 6px rgba(7, 75, 247, 0.4); /* Para los shadow principal. */ 
    --box-shadow-secundario:0 6px 12px rgba(7, 75, 247, 0.15); /* Para los shadow principal. */ 
    --box-shadow-elevado:2px 2px 50px rgba(7, 75, 247, 0.4);
  
    /* Colore de letras dentro de un color con bakcground */
    --color-con-fondo:#ffffff;
  
    /* Color de las letras */
    --color-letras:#616161;
  
    /* Tamaño de las descripciones */
    --tamano-descripciones:'16px';
  }

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
/* Estilos para los cards de la imformacion adecional */
/* Estilos para informacion adicional */
.home__sin_descripcion__general {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    margin: 0 5%;
  }
  
  .home__sin_descripcion__general__card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transition: min-height 1s ease-in-out;
    max-width: 1200px;
    gap: 10px;
    width: 100%;
    padding: 10px 0 10px 0;
  }
  
.home__info__adicional {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-con-fondo);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 350px;
    min-height: 160px;
    position: relative;
    box-shadow: var(--box-shadow-principal);
  }
  
  .home__info__adicional:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-secundario);
  }
  
  .home__info__adicional::before {
    content: '';
    width: 7px;
    height: 97%;
    position: absolute;
    background-color: var(--background-color-claro);
    left: 0;
    border-radius: 10px;
    margin-left: 0.5px;
  }
  
  .home__adicional__descripcion {
    padding: 0.5rem;
    width: 70%;
  }
  
  .home__adicional {
    width: 30%;
  }
  
  .home__adicional__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .home__adicional__text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
  .home__adicional img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .home__adicional img:hover {
    transform: scale(1.05);
  }
  
