:root{
    /* Para los bakcground de los elementos */
    --background-fond-primario: rgba(7, 75, 247, 0.4); /* Para los colores transparentes */  
    --background-color-primario:#0C5ADB;/* Para los principales */ 
    --background-color-secundario:#00247E;/* Para los hover */
    --background-color-claro:#007BFF; 
  
    /* Para los boxs shadoms */
    --box-shadow-principal:0 4px 6px rgba(7, 75, 247, 0.4); /* Para los shadow principal. */ 
    --box-shadow-secundario:0 6px 12px rgba(7, 75, 247, 0.15); /* Para los shadow principal. */ 
    --box-shadow-elevado:2px 2px 50px rgba(7, 75, 247, 0.4);
  
    /* Colore de letras dentro de un color con bakcground */
    --color-con-fondo:#ffffff;
  
    /* Color de las letras */
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.header.visible {
    transform: translateY(0);
    opacity: 1;
}

/* Primera fila */
.header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    /* background-color: #556877; */
    background-color: #0C5ADB;
    border-bottom: rgb(89, 107, 125, 0.15)  1px solid;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 800;
}

.header__info span, 
.header__social i {
    margin-right: 20px;
}

.header__info span{
    font-weight: bold;
}

.header__social i {
    cursor: pointer;
}

/* Segunda fila */
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10%;
}

.img-logo{
    width: 200px;
}

.header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 10% 0 10px;
    gap: 30px;
}

.header__icons i {
    cursor: pointer;
    font-size: 2rem;
    color: #46494d;
}

#pi-align-justify{
    display: none;
}

.contador{
    position: relative;
}

.contador-card{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--background-color-claro);
    color: var(--color-con-fondo);
    top: -10px;
    right: -20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .header__top {
        padding: 10px 15px;
    }

    .header__logo {
        margin: 0 5px 0 5%;
    }

    .header__icons {
        margin: 0 5% 0 5px;
    }

    .header__icons i{
        font-size: 1.8rem;
    }

    .img-logo{
        width: 130px;
    }
    
}

@media screen and (max-width: 1050px) {
    .header__top {
        padding: 5px 10px;
    }

    .header__logo {
        margin: 0 1px 0 2%;
    }

    .img-logo{
        width: 120px;
    }

    .header__icons {
        margin: 0 2% 0 1px;
    }

    .header__icons i{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 790px) {
    .header__logo {
        margin: 0 0 0 1%;
    }

    .img-logo{
        width: 110px;
    }

    .header__icons {
        margin: 0 2px 0 0;
        gap: 3px;
    }

    .header__icons i{
        font-size: 1.4rem;
    }

    .img-logo{
        width: 100px;
    }
}

@media screen and (max-width: 690px) {
    .header__menu{
        display: none;
    }

    .header__icons {
        margin: 0 5% 0 5px;
        gap: 30px;
    }

    #pi-align-justify{
        display: block;
    }

    .img-logo{
        width: 100px;
        padding: 20px 0; 
    }
}

@media screen and (max-width: 350px) {
    .header__top {
        display: none;
    }

    .header__icons .plex-icons{
        display: none;
    }
}

/* Estilos para carrito de compras */

/* Estilos generales del sidebar */
.p-sidebar {
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

/* Estilos para los productos en el carrito */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #ffffff;
}

.card-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.card-item .product-info {
    flex-grow: 1;
}

.card-item .product-info h3 {
    margin: 0;
    font-size: 0.8rem;
}

.card-item .product-info p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #555;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity-controls button {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #007ad9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-controls span {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-list .p-card {
    width: 20rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-list .p-card:hover {
    transform: translateY(-5px);
}

.product-list img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.total {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
}