:root {
    --sidebar-width: 250px;
}

.sidebar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 10px;
}

.sidebar__list-item{
    display: flex;
    padding: 20px;
    list-style: none;
    height: auto;
    position: relative;
    margin: 2px;
}

.sidebar__list-item a {
    text-decoration: none;
    color: #46494d;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar__list-item a.active {
    color: #4682B4;
}

.submenu {
    list-style: none;
    position: absolute;
    top: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 200px;
}

.submenu__item {
    padding: 10px 0;
    border-bottom: 1.5px dotted rgb(211, 211, 211);
}

.submenu__item:hover {
    background-color: rgba(34, 34, 39, 0.15);
}

.submenu__item a {
    text-decoration: none;
    color: #46494d;
    padding: 10px;
    display: block;
}

.submenu__item a.active {
    font-weight: bold;
    color: #4682B4;
    width: 200px;
}


@media screen and (max-width: 1200px) {
    .sidebar__list {
        padding: 5px;
    }

    .sidebar__list-item{
        display: flex;
        padding: 10px;
        list-style: none;
        height: auto;
        position: relative;
        margin: 2px;
    } 
}

@media screen and (max-width: 1050px) {
    .sidebar__list {
        padding: 2px;
    }

    .sidebar__list-item{
        display: flex;
        padding: 5px;
        list-style: none;
        height: auto;
        position: relative;
        margin: 0;
    } 
}