:root{
    /* Para los bakcground de los elementos */
    --background-fond-primario: rgba(7, 75, 247, 0.4); /* Para los colores transparentes */  
    --background-color-primario:#0C5ADB;/* Para los principales */ 
    --background-color-secundario:#00247E;/* Para los hover */
    --background-color-claro:#007BFF; 
  
    /* Para los boxs shadoms */
    --box-shadow-principal:0 4px 6px rgba(7, 75, 247, 0.4); /* Para los shadow principal. */ 
    --box-shadow-secundario:0 6px 12px rgba(7, 75, 247, 0.15); /* Para los shadow principal. */ 
    --box-shadow-elevado:2px 2px 50px rgba(7, 75, 247, 0.4);
  
    /* Colore de letras dentro de un color con bakcground */
    --color-con-fondo:#ffffff;
  
    /* Color de las letras */
    --color-letras:#616161;
  }

.services{
    background-image: url('../../assets/fondos/tres.jpg');
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-fond-primario); 
    z-index: 1;
}

.services > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté encima del fondo */
}

.services__content{
    max-width: 1200px;
    color: var(--color-con-fondo);
    text-align: center;
    text-transform: uppercase;
}

.services__content h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 800;
}


/*************************************************************************************/
/************************* Estilos para contenedor del filter ************************/
/*************************************************************************************/
.contenedor-filter-block{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-filter-block-sub{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-filter-block-sub h1 {
    font-weight: 800;
    color: var(--color-letras);
}

/* Estilos para los blocks */
.container-blocks{
    min-height: 75vh;
    display: flex;
    justify-content: center;
}

.container-sub-blocks{
    max-width: 1200px;
    padding-top: 20px;
}

.container-sub-blocks-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.grids-boxs{
    box-shadow: var(--box-shadow-principal);
    padding-bottom: 35px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 5px;
}

.grids-boxs-img{
    position: relative;
}

.grids-boxs-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 251, 0.6);
}

.grids-boxs:hover {
    transform: scale(1);
    box-shadow: var(--box-shadow-secundario);
}

.grids-boxs-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.grid-boxs-texts{
    padding: 1.5rem 1.5rem;
}

.grid-boxs-title{
    line-height: 1.3;
    font-weight: 800;
    color: var(--color-letras);
    margin: 0;
}
.grid-boxs-description{
    line-height: 27px;
    font-weight: 600;
    color: var(--color-letras);
}

.grid-boxs-header{
    padding: 0px 0px 10px 0px;
    color: var(--color-letras);
}

.grid-boxs-header-text{
    position: relative;
    padding: 0 8px 0 0;
    margin: 0 8px 0 0;
    font-weight: 600;
    color: var(--color-letras);
}

.grid-boxs-header-text::after{
    content: '';
    position: absolute;
    height: 16px;
    width: 2px;
    background-color: #285071;
    right: -2px;
}

.grid-boxs-leer-mas{
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    color: #285071;
    margin-top: 20px;
    background-color: #EDF4FC;
    max-width: 130px;
    font-weight: 600;
}

.grid-boxs-leer-mas i{
    padding: 0 10px 0 10px;
    color: #285071;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

@media(max-width: 900px) {
    .container-sub-blocks-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
  }

  @media(max-width: 600px) {
    .container-sub-blocks-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
  }



/* Estilos para el contenedor de la paginacion */
.paginator-container{
    margin: 40px 0;
}