:root{
    /* Para los bakcground de los elementos */
    --background-fond-primario: rgba(7, 75, 247, 0.4); /* Para los colores transparentes */  
    --background-color-primario:#0C5ADB;/* Para los principales */ 
    --background-color-secundario:#00247E;/* Para los hover */
    --background-color-claro:#007BFF; 
  
    /* Para los boxs shadoms */
    --box-shadow-principal:0 4px 6px rgba(7, 75, 247, 0.4); /* Para los shadow principal. */ 
    --box-shadow-secundario:0 6px 12px rgba(7, 75, 247, 0.15); /* Para los shadow principal. */ 
    --box-shadow-elevado:2px 2px 50px rgba(7, 75, 247, 0.4);
  
    /* Colore de letras dentro de un color con bakcground */
    --color-con-fondo:#ffffff;
  
    /* Color de las letras */
    --color-letras:#616161;
  }
  
.products {
    background-image: url('../../assets/fondos/nueve.webp');
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 150px 0 0 0;
}

.products::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-fond-primario); 
    z-index: 1;
}

.products>* {
    position: relative;
    z-index: 2;
}

.products__content {
    max-width: 1200px;
    color: var(--color-con-fondo);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__content h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

/* Estilos para la seccion de productos card y categorias */
.contenedor-articulos-categorias{
    display: flex;
    flex-direction: column;
    min-width: 260px;
    gap: 10px;
    height: auto;
}

.contenedor-articulos{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
}

.contenedor-sub-articulos{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    
}

.contenedor-articulos-productos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

.contenedor-encabesado-categorias{
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-con-fondo);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(111, 141, 232);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-articulos-acordeon{
    box-shadow: var(--box-shadow-principal);
    border-radius: 10px;
}

.contenedor-articulos-acordeon-acordeon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    text-align: center;
}

.contenedor-linea-adordeon{
    height: 2px;
    width: 100%;
    background-color: var(--background-color-claro);
    padding: 0 10px 0 10px;
}
.accordion-container-products {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: auto;
}

.accordion-item-products {
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-header-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--color-con-fondo);
    font-size: 20px;
    color: var(--color-letras);
    font-weight: bold;
}

.accordion-header-products:hover {
    background-color: var(--background-color-claro);
    color: var(--color-con-fondo);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: var(--color-con-fondo);
    padding: 0 15px;
}

.accordion-content.active {
    max-height: 300px; /* Altura máxima para el contenido */
    padding: 15px;
}

.accordion-link {
    display: block;
    padding: 8px 0;
    color: var(--color-letras);
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
}

.accordion-link:hover {
    color: #CBBDED;
}

.contenedor-acordeon-footer{
    height: 50px;
    width: 100%;
    background-color: var(--background-color-claro);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(111, 141, 232);
    padding: 10px;
}


/* Estilos para un contenedor de pagiator */
.contenedor-paginator-first{
    position: absolute;
    bottom: -80px;
    left: 50%; /* Mueve horizontalmente el centro */
    transform: translateX(-50%); /* Ajusta el centro al eje X */
}